<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">

          <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">Login</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" routerLinkActive="active"> Rol Admin </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/vista-admin-hotel" routerLinkActive="active"> Admin Hoteles </a>
        </li>

      </ul>
      <form class="d-flex">
        <a class="navbar-brand" (click)="clearToken()"  routerLink="/login" routerLinkActive="active">Cerrar sesión</a>

      </form>
    </div>
  </div>
</nav>
