<!--
<div class = "container">
  <div class ="row">
    <div class="col-12 col-md-4" *ngFor="let hoteles of hotelesModel">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ hoteles.nombre }}</h4>

          <p class="card-text">ID: {{hoteles._id}}</p>
          <p class="card-text">Direccion: {{ hoteles.direccion }}</p>
          <p class="card-text">Descripcion: {{ hoteles.descripcion }}</p>
          <p class="card-text">Administrador hotel: {{ hoteles.administradorHotel }}</p>

        </div>

      </div>
    </div>
  </div>
</div> -->
 